---
---

<a class="button_call" href="tel:+591173641513">
    <svg
        width="24"  
        height="24"  
        viewBox="0 0 24 24"  
        fill="none"
    >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
        <path d="M15 7a2 2 0 0 1 2 2" />
        <path d="M15 3a6 6 0 0 1 6 6" />
    </svg>
    15 2339-4061
</a>

<style>
    .button_call{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        padding: 10px;
        border-radius: 10px;
        gap: 8px;
        background-color: var(--yellow);
        color:var(--grey);
        transition: all ease-in-out 200ms;
    }
    svg{
        stroke-width: 2px;
        stroke: var(--grey);
        transition: all ease-in-out 200ms;
    }
    .button_call:hover{
        background-color: var(--ligth-blue);
        color: var(--grey);
        svg{
            stroke: var(--grey);
        }
    }
</style>