---
import Instagram from "../icons/Instagram.astro";

---

<a
    href="https://www.instagram.com/pasacalles.la.mancha/"
    rel="noreferrer"
    target="_blank"
    aria-label="Seguinos en nuestro Instagram Pasacalles_lamancha"
>
    <Instagram color="blue" />
</a>

<style>
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 30px;
    }
</style>