---
import Meta from "../icons/Meta.astro"
---

<a 
    href="https://www.facebook.com/pasacalleslamancha"
    rel="noreferrer"
    target="_blank"
>
    <Meta color="blue" />
</a>

<style>
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 30px;
    }
    svg{
        stroke-width: 2px;
        stroke: var(--blue);
    }
</style>