---
import ContactForm from "./forms/ContactForm";
import Email from "./icons/Email.astro";
import Instagram from "./icons/Instagram.astro";
import Location from "./icons/Location.astro";
import Meta from "./icons/Meta.astro";

const SERVICE_ID = import.meta.env.VITE_SERVICE_ID
const TEMPLATE_ID = import.meta.env.VITE_TEMPLATE_ID
const USER_ID = import.meta.env.VITE_USER_ID

---

<section>
    <div class="box_image_banner" >
        <img src="/images/Pasacalles-la-Mancha-Avellaneda-Buenos-Aires.png" />
    </div>
    <div class="contact_box_form" >
        <div>
            <h3>Dejanos tu consulta</h3>
            <h4>TE ENVIAMOS EL PRESUPUESTO POR EMAIL, WHATSAPP O TE LLAMAMOS</h4>
        </div>
        <div>
            <p><Email/> PASACALLES_LAMANCHA@YAHOO.COM.AR</p>
            <p><Location/> VILLA DOMINICO, AVELLANEDA, ARGENTINA</p>
            <p><Instagram size="small" color="grey" /> PASACALLES.LA.MANCHA</p>
            <p><Meta size="small" color="grey" /> PASACALLES LA MANCHA</p>
        </div>
    </div>
    <div class="contact_container_form" >
        <ContactForm 
            client:only="react"
            serviceId={SERVICE_ID}
            templateId={TEMPLATE_ID}
            userId={USER_ID}
        />
    </div>
</section>

<style>
    section{
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 1000px;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .box_image_banner{
        z-index: -1;
        position: absolute;
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
    }
    .box_image_banner::before{
        z-index: 1;
        content: ' ';
        position: absolute;
        width: 40px;
        height: 100%;
        left: 0;
        background:linear-gradient(to left,var(--transparent),var(--white));
    }
    .box_image_banner::after{
        z-index:1;
        content: ' ';
        position: absolute;
        width: 40px;
        height: 100%;
        right: 0;
        background:linear-gradient(to right,var(--transparent),var(--white));
    }
    .contact_container_form{
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .contact_box_form{
        display: grid;
        gap: 20px;
    }
    h3{
        color: var(--blue);
    }
    h4{
        margin-top: 5px;
        margin-bottom: 15px;
        width: 280px;
        text-wrap: balance;
    }
    p{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    @media
        (width < 700px){
            section{
                flex-direction: column;
                align-items: center;
                gap: 50px;
                width: 90%;
            }
            .box_image_banner{
                display: none;
            }
        }
</style>