---
import ContactForm from "./forms/ContactForm";
import Email from "./icons/Email.astro";
import Instagram from "./icons/Instagram.astro";
import Location from "./icons/Location.astro";
import Meta from "./icons/Meta.astro";

const SERVICE_ID = import.meta.env.VITE_SERVICE_ID
const TEMPLATE_ID = import.meta.env.VITE_TEMPLATE_ID
const USER_ID = import.meta.env.VITE_USER_ID

---

<section>
    <div>
        <h3>Dejanos tu consulta</h3>
        <h4>TE ENVIAMOS EL PRESUPUESTO POR EMAIL, WHATSAPP O TE LLAMAMOS</h4>
        <div>
            <p><Email/> PASACALLES_LAMANCHA@YAHOO.COM.AR</p>
            <p><Location/> VILLA DOMINICO, AVELLANEDA, ARGENTINA</p>
            <p><Instagram size="small" color="grey" /> PASACALLES_LAMANCHA</p>
            <p><Meta size="small" color="grey" /> PASACALLES LA MANCHA</p>
        </div>
    </div>
    <ContactForm client:only="react"
        serviceId={SERVICE_ID}
        templateId={TEMPLATE_ID}
        userId={USER_ID}
    />
</section>

<style>
    section{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 900px;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    h3{
        color: var(--blue);
    }
    h4{
        margin-top: 5px;
        margin-bottom: 15px;
    }
    p{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    @media
        (width < 700px){
            section{
                flex-direction: column;
                align-items: center;
                gap: 50px;
                width: 90%;
            }
        }
</style>