---
---

<section>
    <div>
        <h3>Dejanos tu consulta</h3>
        <h4>TE ENVIAMOS EL PRESUPUESTO POR EMAIL, WHATSAPP O TE LLAMAMOS</h4>
    </div>
    <div>
        <form action="">
            <input type="text">
        </form>
    </div>
</section>

<style>
    section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 900px;
    }
    h3{
        color: var(--blue);
    }
</style>