---
import Email from "./icons/Email.astro";
import Instagram from "./icons/Instagram.astro";
import Location from "./icons/Location.astro";
import Meta from "./icons/Meta.astro";
import Form from "./Form.astro";
---

<section>
    <div>
        <h3>Dejanos tu consulta</h3>
        <h4>TE ENVIAMOS EL PRESUPUESTO POR EMAIL, WHATSAPP O TE LLAMAMOS</h4>
        <div>
            <p><Email/> PASACALLES_LAMANCHA@YAHOO.COM.AR</p>
            <p><Location/> VILLA DOMINICO, AVELLANEDA, ARGENTINA</p>
            <p><Instagram size="small" color="grey" /> PASACALLES_LAMANCHA</p>
            <p><Meta size="small" color="grey" /> PASACALLES LA MANCHA</p>
        </div>
    </div>
    <div>
        <Form/>
    </div>
</section>

<style>
    section{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 900px;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    h3{
        color: var(--blue);
    }
    h4{
        margin-top: 5px;
        margin-bottom: 15px;
    }
    p{
        display: flex;
        align-items: center;
        gap: 8px;
    }
</style>