---
const year = new Date().getFullYear()
---

<footer>
    {`PASACALLES LA MANCHA © TODOS LOS DERCHOS RESERVADOS ${year} - POWERED BY `}
    <a
        href="https://www.google.com/search?q=Jonatan+Avila+Desarrollador+Web+Full+Stack+-+Dise%C3%B1ador+Web&stick=H4sIAAAAAAAA_-NgU1I1qLA0TTQ2SktOSjFPNktLNDG3MqhISTE1NzA3tDA1MzdMszRIXcRq7ZWfl1iSmKfgWJaZk6jgklqcWFSUn5OTmJJfpBCemqTgVpqToxBckpicraCr4JJZnHp4I0wOALOQqlZnAAAA&hl=es-419&mat=CVgOLeHDGpajElcBqiIDwphemEwWCM4YV50e0Y0qd0x06AozHnM9vMNoHPfvMio7nBvsZVqxTTGGA831JIe7Sj4UXLm6IYHasbDDfsgKARzSOe1y7giVeb_Xf2mgGjjRius&authuser=0"
        rel="noreferrer"
        target="_blank"
    >
        JONATAN AVILA DISEÑO Y DESARROLLO WEB
    </a>
</footer>

<style>
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-wrap: balance;
        width: 100%;
        color: var(--grey);
        background-color: var(--yellow);
        padding-block: 10px;
        font-size: 10px;
        gap: 5px;
    }

    @media
        (width < 700px){
            footer{
                flex-direction: column;
            }
        }
</style>