---
import Send from "./icons/Send.astro";
---

<form id="contact_form" >
    <label for="nameAndSurname">NOMBRE Y APELLIDO</label>
    <input
        id="nameAndSurname"
        type="text" 
        name="nameAndSurname"
        required
    >

    <label for="phone">TELÉFONO</label>
    <input
        id="phone" 
        type="text" 
        name="phone"
        required
    >

    <label for="email">EMAIL</label>
    <input 
        id="email" 
        type="text" 
        name="email"
        required
    >

    <label for="message">CONSULTA</label>
    <textarea
        name="message" 
        id="message"
    />
    <div class="box_button_submit" >
        <button type="submit" >
            <Send/>
            ENVIAR
        </button>
    </div>
</form>

<script>
    import emailjs from "emailjs-com"

    const VITE_SERVICE_ID = import.meta.env.VITE_SERVICE_ID
    const VITE_TEMPLATE_ID = import.meta.env.VITE_TEMPLATE_ID
    const VITE_USER_ID = import.meta.env.VITE_USER_ID

    document.getElementById('contact_form')?.addEventListener('submit', async (e)=>{
        e.preventDefault()

        const formData = {
            name:e.target.nameAndSurname.value,
            phone:e.target.phone.value,
            email:e.target.email.value,
            message:e.target.message.value
        }
        try {
            const res = await emailjs.send(
                VITE_SERVICE_ID,
                VITE_TEMPLATE_ID,
                formData,
                VITE_USER_ID
            )
            console.log("Correo enviado:", res.text);
            alert("Formulario enviado correctamente. ¡Gracias por tu consulta!");
        } catch (error) {
            console.error("Error al enviar el correo:", error);
            alert("Hubo un problema al enviar el formulario. Inténtalo más tarde.");
        }
    })

</script>

<style>
    form{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .box_button_submit{
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-block: 15px;
    }
</style>