---
import Send from "./icons/Send.astro";
---

<script>
    import emailjs from "emailjs-com"

    document.getElementById('contact_form')?.addEventListener('submit', async (e)=>{
        e.preventDefault()

        const form = e.target
        try {
            // const res = await emailjs.sendForm(

            // )
        } catch (error) {
            
        }
    })

</script>

<form id="contact_form" >
    <label for="nameAndSurname">NOMBRE Y APELLIDO</label>
    <input id="nameAndSurname" type="text" required>

    <label for="phone">TELÉFONO</label>
    <input id="phone" type="text" required>

    <label for="email">EMAIL</label>
    <input id="email" type="text" required>

    <label for="message">CONSULTA</label>
    <textarea name="" id="message" />
    <div class="box_button_submit" >
        <button type="submit" >
            <Send/>
            ENVIAR
        </button>
    </div>
</form>

<style>
    form{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .box_button_submit{
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-block: 15px;
    }
</style>