---
---

<form action="">
    <label for="">NOMBRE Y APELLIDO</label>
    <input type="text" required>

    <label for="">TELÉFONO</label>
    <input type="text" required>

    <label for="">EMAIL</label>
    <input type="text" required>

    <label for="">CONSULTA</label>
    <textarea name="" id="" />

    <button type="submit" ></button>
</form>

<style>
    form{
        display: grid;
        align-items: center;
        justify-content: center;
    }
</style>