---
import Slider from "./slider/Slider";
---

<section>
    <div>
        <h3>Nuestros</h3>
        <Slider client:only />
        <h3>clientes</h3>
    </div>
</section>

<style>
    section{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: -150px;
        height: 300px;
        width: 100%;
        overflow: hidden;
    }
    div{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        max-width: 1350px;
        width: 110vw;
        background-color: var(--blue);
        transform: rotate(-5deg);
    }
    div::after{
        position: absolute;
        content: " ";
        width: 80px;
        height: 100%;
        right: -79px;
        background: linear-gradient(to right, var(--blue),var(--white));
    }
    div::before{
        position: absolute;
        content: " ";
        width: 80px;
        height: 100%;
        left: -79px;
        background: linear-gradient(to left, var(--blue),var(--white));
    }
</style>