---
import WhatsappButton from "./buttons/WhatsappButton.astro";
import Award from "./icons/Award.astro";
import Coin from "./icons/Coin.astro";
import Response from "./icons/Response.astro";
---

<section>
    <div class="box_info_heading" >
        <h3>¡Pasacalles en el acto!</h3>
        <div>
            <p><Award/> CALIDAD</p>
            <p><Coin/> EL MEJOR PRECIO</p>
            <p><Response/> RESPUESTA INMEDIATA</p>
        </div>
    </div> 
    <div class="container_phone_number" >
        <div class="box_phone_number" >
            <WhatsappButton size="large" />
            <a 
                href="http://wa.me/+5491172360376"
                rel="noreferrer"
                target="_blank"
                aria-label="Hablanos a nuestro whatsapp!"
            >
                15 7236-0376
            </a>
        </div>
        <p class="call_us" >¡LLAMANOS 😉!</p>
    </div> 
</section>

<style>
    section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1000px;
        padding-block: 100px;
    }
    h3{
        font-size: 2.5rem;
        color: var(--blue);
    }
    p{
        display: flex;
        align-items: center;
        font-size: 15px;
        gap: 5px;
    }
    .box_info_heading{
        display: grid;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        gap: 15px;
    }
    .container_phone_number{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        gap: 25px;
    }
    .box_phone_number{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    a{
        font-family: 'Gagalin-Regular', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.5rem;
        color: var(--blue);
        line-height: 1;
    }
    .call_us{
        font-size: 2rem;
        color: var(--blue);
    }

    @media
        (width < 700px){
            section{
                width: 90%;
                display: grid;
                gap: 50px;
            }
            .box_info_heading{
                flex-direction: column;
                align-items: center;
                text-wrap: balance;
            }
            h3{
                font-size: 2.5rem;
            }
            .container_phone_number{
                flex-direction: column;
                gap: 5px;
            }
            .phone_number{
                font-size: 2.7rem;
            }
        }
</style>
