---
import WhatsappButton from "./buttons/WhatsappButton.astro";
import InstagramButton from "./buttons/InstagramButton.astro";
import MetaButton from "./buttons/MetaButton.astro";
import CallButton from "./buttons/CallButton.astro";
---

<aside id="navbar" >
    <div class="nav_container" >
        <div class="nav_box_icons" >
            <WhatsappButton/>
            <InstagramButton/>
            <MetaButton/>
        </div>
        <div>
            <CallButton/>
        </div>
    </div>
</aside>

<style>
    aside{
        z-index: 10;
        position: fixed;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 50px 15px 50px 15px;
    }
    .nav_container{
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav_box_icons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .button_call{
        display: flex;
        gap: 8px;
        background: var(--blue);
        color: var(--white);
        padding: 10px;
        border-radius: 10px;
        max-width: 150px;
        transition: all ease-in-out 200ms;
    }

    .scrolled{
        transition: all ease-in-out 200ms;
        background: linear-gradient(var(--white) 60%,var(--transparent));
    }

    @media
        (width < 700px){
            .nav_container{
                width: 100%;
                padding-inline: 15px;
            }
            .nav_box_icons{
                gap: 10px;
            }
        }
</style>