---
---

<section>
    <h3>TRABAJOS EN EL DÍA</h3>
    <a
        href="https://wa.link/7mf3n2"
        rel="noreferrer"
        target="_blank"
        aria-label="Ponete en contacto atravez de nuestro Whatsapp"
    >
        <svg
        width="60"  
        height="60"  
        viewBox="0 0 24 24"  
        fill="none"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
            <path d="M15 7a2 2 0 0 1 2 2" />
            <path d="M15 3a6 6 0 0 1 6 6" />
        </svg>
        15 7364-1513
    </a>
</section>

<style>
    section{
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -80px;
        height: 250px;
    }
    a{
        font-family: 'Gagalin-Regular', sans-serif;
        font-size: 4rem;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    svg{
        stroke-width: 2px;
        stroke: var(--grey);
    }

    @media 
        (width < 700px){
            a{
                font-size: 3rem;
            }
        }
</style>