<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=AW-16893893581">
		</script>
		<script is:inline >
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'AW-16893893581');
		</script>

		<!-- Event snippet for Contacto conversion page
		In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
		<script is:inline >
			function gtag_report_conversion(url) {
			var callback = function () {
				if (typeof(url) != 'undefined') {
				window.location = url;
				}
			};
			gtag('event', 'conversion', {
				'send_to': 'AW-16893893581/njo2CMn1_qIaEM230fc-',
				'event_callback': callback
			});
			return false;
			}
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Pasacalles La Mancha ofrece un Servicio Rápido y Confiable de Impresión y Colocación de Pasacalles en toda Buenos Aires. Diseños Personalizados, Entrega en Tiempo Récord y Atención Profesional. ¡Comunica tu Mensaje de forma Impactante! - Pasacalles Express, Trabajamos en Zona Sur, Zona Norte, Zona Oeste y Zona Este">
		
		<!-- Open Graph (Facebook, LinkedIn) -->
		<meta property="og:title" content="Pasacalles La Mancha - Pasacalles Rápidos y en Todo Buenos Aires">
		<meta property="og:name" content="Pasacalles Por Whatsapp | En el acto">
		<meta property="og:description" content="Pasacalles | Pasacalles Express | Pasacalles Rápidos La Mancha ofrece un servicio rápido y confiable de impresión y colocación de pasacalles en toda Buenos Aires. ¡Comunica tu mensaje de forma impactante! | Vamos a Zona Sur, Zona Norte, Zona Este y Zona Oeste">
		<meta property="og:url" content="https://www.pasacalleslamancha.com.ar">
		<meta property="og:type" content="website">
		<meta property="og:image" content="../../public/images/image1.png">
		
		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Pasacalles La Mancha - Pasacalles Rápidos y en Todo Buenos Aires">
		<meta name="twitter:description" content="Pasacalles La Mancha ofrece un servicio rápido y confiable de impresión y colocación de pasacalles en toda Buenos Aires. ¡Comunica tu mensaje de forma impactante!">
		<meta name="twitter:image" content="../../public/images/image1.png">
		
		<!-- Google Search Console -->
		<meta name="google-site-verification" content="IEJ28_tGrR4XnynVpPJnpauRf2qVXRCDfZWlXVSJkus" />
	
		<title>Pasacalles La Mancha | Rápido y en Todo Buenos Aires | Pasacalles</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Gagalin-Regular';
		src: url('../assets/fonts/Gagalin-Regular.otf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-SemiBold';
		src: url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-Bold';
		src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
	}

	:root::-webkit-scrollbar{
   		width: 5px;
	}
	:root::-webkit-scrollbar-thumb{
		background-color: var(--blue);
	}
	:root{
		font-family:'Poppins-SemiBold',sans-serif ;

		--white:#dfdfdf;
		--blue:#464646;
		--green:#038b82;
		--yellow:#cbd378;
		--ligth-blue:#C4DCEB;
		--grey:#353535;
		--rose: #FF8585;
		--transparent: #ECECEC00;
	} 
	
	body {
		color: var(--grey);
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: var(--white);
	}
	h1{
		font-family: 'Gagalin-Regular', sans-serif;
		font-weight: 100;
		color: var(--blue);
		font-size:6rem;
		margin: 0;
		line-height: 1;
	}
	h2{
		margin: 0;
		font-size: 1.1rem;
	}
	h3{
		font-family: 'Gagalin-Regular', sans-serif;
		font-weight: 100;
		font-size: 2rem;
		margin: 0;
		color: var(--grey);
	}
	h4{
		font-size: 14px;
		margin: 0;
	}
	a{
		text-decoration: none;
		color: var(--grey);
	}
	a:hover{
		color: var(--rose);
	}
	p{
		color: var(--grey);
		font-size: 12px;
		margin: 0;
	}
	label{
		font-size: 12px;
	}
	input{
		width: 300px;
		padding: 12px;
		border: none;
		border-radius: 10px;
		background: var(--ligth-blue);
		font-size: 12px;
		outline: none;
	}
	textarea{
		width: 300px;
		height:	60px;
		padding: 12px;
		border: none;
		border-radius: 10px;
		background: var(--ligth-blue);
	}
	button{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 180px;
		height: 38px;
		border: none;
		border-radius: 10px;
		background: var(--yellow);
		color: var(--grey);
		font-size: 12px;
		gap: 5px;
		transition: all ease-in-out 200ms;
	}
	button:hover{
		background-color: var(--ligth-blue);
	}
</style>
